<nav class="navbar">
    <div class="logo" (click)="OnlogoClick($event)"><img src="../../assets/images/my-logo.png" alt="website logo" /></div>
    <div class="mobile-nav">
      <button class="hamburger-icon" (click)="openModal()"><i class="fa-solid fa-bars"></i></button>
      <div *ngIf="isModalVisible" class="mobile-nav-list" [class.open]="isModalVisible">
        <div class="modal-header" (click)="closeModal()">
            <span>Back</span>
        </div>
        <ul class="modal-body">
          <li (click)="navigateToSignIn($event)">signIn / signUp</li>
          <li>Help desk?</li>
        </ul>
    </div>
    </div>
    <ul class="nav-list">
      <li>sign in/sign up</li>
      <li>Help desk?</li>
    </ul>
  </nav>
<router-outlet />
